<table>
  <tr>
    <th>Timestamp</th>
    <th>Mode</th>
    <th>Time</th>
    <th>Input</th>
    <th></th>
  </tr>
 
  <% @inputs.each do |input| %>
    <% if input.result %>
      <tr>
        <td><%= input.created_at %></td>
        <td><%= input.mode.name %></td>
        <td><%= input.result.time %></td>
        <td><%= input.input_representation %></td>
        <td><%= button_to 'Delete',
  		action: :delete,
  		params: { id: input.id },
  		data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
</table>
