<%= form_with(model: mode, local: true) do |form| %>
  <% if mode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mode.errors.count, "error") %> prohibited this mode from being saved:</h2>

      <ul>
        <% mode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :known %>
    <%= form.check_box :known %>
  </div>

  <div class="field">
    <%= form.label :mode_type %>
    <%= form.select :mode_type, Mode::MODE_TYPES.sort %>
  </div>

  <div class="field">
    <%= form.label :show_input_mode %>
    <%= form.select :show_input_mode, Mode::SHOW_INPUT_MODES.sort %>
  </div>

  <div class="field">
    <%= form.label :buffer %>
    <%= form.text_field :buffer %>
  </div>

  <div class="field">
    <%= form.label :goal_badness %>
    <%= form.text_field :goal_badness %>
  </div>

  <div class="field">
    <%= form.label :cube_size %>
    <%= form.text_field :cube_size %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
