<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mode.name %>
</p>

<p>
  <strong>Known:</strong>
  <%= @mode.known %>
</p>

<p>
  <strong>Mode type:</strong>
  <%= @mode.mode_type %>
</p>

<p>
  <strong>Show input mode:</strong>
  <%= @mode.show_input_mode %>
</p>

<p>
  <strong>Buffer:</strong>
  <%= @mode.buffer %>
</p>

<p>
  <strong>Goal badness:</strong>
  <%= @mode.goal_badness %>
</p>

<p>
  <strong>Cube size:</strong>
  <%= @mode.cube_size %>
</p>

<%= link_to 'Use', timer_path(@mode) %>
<%= link_to 'Edit', edit_mode_path(@mode) %> |
<%= link_to 'Back', modes_path %>
