<!DOCTYPE html>
<html>
  <head>
    <title>CubeTrainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'cube_trainer', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'cube_trainer', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <cube-trainer>Loading cube trainer...</cube-trainer>
  </body>
</html>
