<!DOCTYPE html>
<html>
  <head>
    <title>CubeTrainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= button_to "Logout", '/logout', method: :post %>
    <% else %>
      <%= button_to "Login", '/login', method: :get%>
      <%= button_to "Sign Up", '/users/new', method: :get%>
    <% end %>
    <%= yield %>
  </body>
</html>
